<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="./assets/images/doctor.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">SignUp as a doctor</h5>
                    <p class="card-text">AI assist to prescribe drugs and view health journal of users.</p>
                    <a href="#" class="btn btn-primary">SignUp</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="./assets/images/user.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">SignUp as a user</h5>
                    <p class="card-text">Manage your health jounal and keep track of your fitness.</p>
                    <a [routerLink]="['asuser']" class="btn btn-primary">SignUp</a>
                </div>
            </div>
        </div>
    </div>
</div>