<div class="container">


    <a class="nav-link " href="#" [routerLink]="['healthjournal']">Health Journal</a>



    <div class="jumbotron vertical-center">

        <div class="container">
            <h3 justify-content-center>
                Aayushi your latest assessment score is 53 🍎
                <small class="text-muted">Keep Going</small>
            </h3>

            <div class="container">
                <div style="width:100%;">
                    <canvas id="myChart" width="400" height="100" #mychart></canvas>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" [routerLink]="['newassessment']">+ Add New
                    Asssessment</button>

            </div>
        </div>
    </div>
</div>