<div class="card">

    <div class="card-body">
        <div class="container-fluid">
            <div class="text-center">
                <img src="./assets/images/logo.png" class="img-responsive center-block"
                    style="max-height:300px;padding-bottom:50px" />
            </div>

            <div class="text-center">Developed by:</div>
            <div class="text-center">
                <h3>Samarth | Aayushi | Yashika | Shashank</h3>
            </div>

            <div class="text-center">Team Name</div>
            <div class="text-center">

            </div>
        </div>
    </div>
    <div class="p-5 d-flex justify-content-center ">

        <button type="button" class=" btn btn-primary btn-lg mr-1" [routerLink]="['signin']">Sign In</button>

        <button type=" button" class=" btn btn-secondary btn-lg" [routerLink]="['signup']">Sign Up</button>
    </div>
</div>