<form [formGroup]="healthForm">

    <div class="form-group">
        <label for="googleFit">Google Fit score</label>
        <input formControlName="googleFit" type="text" class="form-control" placeholder="Google Fit score" formCo>
    </div>

    <div class="form-group">
        <label for="weight">Weight</label>
        <input formControlName="weight" type="text" class="form-control" placeholder="weight" formCo>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>